@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: #1771b9;
  }

  html {
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
}
